.page {
  margin: 0 auto;
  background-color: #000;
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 880px;
}

@media screen and (max-width: 920px) {
  .page {
    padding: 0px 19px;
  }
}

@media screen and (max-width: 615px) {
  .page {
    padding: 0;
  }
}
