.header {
  display: flex;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.header__logo {
  width: 173px;
  height: 33px;
  margin: 45px 0 41px;
}

@media screen and (max-width: 774px) {
  .header__logo {
    width: 150px;
    height: 28.5px;
    margin: 42px 0 38px;
  }
}

@media screen and (max-width: 615px) {
  .header__logo {
    width: 126px;
    height: 24px;
    margin-bottom: 32px;
    margin-left: 27px;
    margin: 28px auto 32px 27px;
  }
}
