.places {
  max-width: 880px;
  margin: 0 auto;
}

.places__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 17px;
  justify-content: center;
}

.places__card {
  max-width: 282px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 615px) {
  .places {
    padding: 0 19px;
  }
}
