.profile {
  max-width: 880px;
  margin: 0 auto;
  padding: 40px 0 51px;
  display: grid;
  grid-template-columns: 120px 1fr minmax(50px, 1fr);
  column-gap: 30px;
  align-items: center;
}

.profile__avatar-container {
  position: relative;
  width: 120px;
  height: 120px;
}

.profile__avatar {
  width: 120px;
  border-radius: 50%;
  position: absolute;
  transition: opacity 0.3s ease-in-out;
}

.profile__avatar-container:hover .profile__avatar {
  opacity: 0.2;
}

.profile__edit-avatar-icon-container {
  width: 120px;
  height: 120px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../images/edit-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 26px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

.profile__avatar-container:hover .profile__edit-avatar-icon-container {
  opacity: 1;
}

.profile__info-container {
  display: flex;
}

.profile__info {
  display: flex;
  flex-direction: column;
  font-family: "Inter", "Arial", sans-serif;
  line-height: 1.2;
  color: #fff;
}

.profile__name {
  font-size: 42px;
  font-weight: 500;
  line-height: 1.143;
  margin: 0 0 7px;
  padding: 0;
  max-width: 375px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__job {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  max-width: 375px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__edit-button {
  background-color: transparent;
  background-image: url("../images/edit-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  margin-left: 18px;
  margin-top: 15px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.profile__add-button {
  background-color: transparent;
  background-image: url("../images/add-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px;
  margin-left: auto;
  width: 150px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 2px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.profile__edit-button:hover,
.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 920px) {
  .profile__add-button {
    max-width: 150px;
    width: 100%;
  }
}

@media screen and (max-width: 774px) {
  .profile {
    padding: 42px 0 36px;
  }

  .profile__name {
    font-size: 28px;
    margin: 0 0 9px;
    max-width: 250px;
  }

  .profile__job {
    max-width: 250px;
  }

  .profile__edit-button {
    margin-top: 8px;
  }
}

@media screen and (max-width: 615px) {
  .profile {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, min-content);
    grid-template-areas:
      "avatar"
      "info"
      "add-button";
    column-gap: 15px;
    justify-items: center;
  }

  .profile__avatar {
    grid-area: avatar;
    margin: 0;
  }

  .profile__info-container {
    grid-area: info;
    display: grid;
    grid-template-columns: 1fr minmax(min-content, 1fr) 1fr;
    grid-template-areas: ". info edit-button";
    text-align: center;
    margin-top: 30px;
  }

  .profile__info {
    grid-column: 2 / 3;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .profile__name {
    font-size: 22px;
    max-width: 200px;
  }

  .profile__job {
    font-size: 14px;
    max-width: 200px;
  }

  .profile__edit-button {
    grid-area: edit-button;
    width: 18px;
    height: 18px;
    margin-left: 10px;
    margin-top: 3px;
    background-size: 8px;
  }

  .profile__add-button {
    max-width: 282px;
    margin: 36px 0 0;
    background-size: 16px;
  }
}
